/* ! COLORS */

:root {
    --primary: rgb(9, 0, 24);
    --primary-light: #2b2337;
    --secondary: #e2d4f9;
    --accent: rgb(223, 173, 36);
    --danger: hsl(352, 62%, 53%);
    --success: hsl(165, 60%, 35%);
    --success-light: hsl(165, 60%, 42%);
    --dark: #090018;
}

.bg-none {
    background-color: #ffffff00 !important;
}

.primary-text {
    color: var(--primary) !important;
}

.primary-bg {
    background-color: var(--primary) !important;
}

.primary-border {
    border-color: var(--primary) !important;
}

.dark-text {
    color: var(--dark) !important;
}

.dark-bg {
    background-color: var(--dark) !important;
}

.dark-border {
    border-color: var(--dark) !important;
}

.primary-light-text {
    color: var(--primary-light) !important;
}

.primary-light-bg {
    background-color: var(--primary-light) !important;
}

.primary-light-border {
    border-color: var(--primary-light) !important;
}

.secondary-text {
    color: var(--secondary) !important;
}

.secondary-bg {
    background-color: var(--secondary) !important;
}

.secondary-border {
    border-color: var(--secondary) !important;
}

.accent-text {
    color: var(--accent) !important;
}

.accent-bg {
    background-color: var(--accent) !important;
}

.accent-border {
    border-color: var(--accent) !important;
}

.white-text {
    color: #fff !important;
}

.white-bg {
    background-color: #fff !important;
}

.white-border {
    border-color: #fff !important;
}

.danger-text {
    color: var(--danger) !important;
}

.danger-bg {
    background-color: var(--danger) !important;
}

.danger-border {
    border-color: var(--danger) !important;
}

.success-text {
    color: var(--success) !important;
}

.success-bg {
    background-color: var(--success) !important;
}

.success-border {
    border-color: var(--success) !important;
}


/* ! FONTS */

* {
    color: white !important;
}

input {
    color: #222 !important;
    border: none !important;
}

input:focus {
    box-shadow: 0px 0px 0px 3px var(--accent) !important;
}

textarea {
    color: #222 !important;
    border: none !important;
}

textarea:focus {
    box-shadow: 0px 0px 0px 3px var(--accent) !important;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--secondary) !important;
}


/* ! FOOTER */

.footer-icon {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.icon-i {
    color: var(--secondary) !important;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.footer-icon:hover {
    transform: scale(1.1) translateY(-6%);
}

.footer-icon:hover .icon-i {
    color: var(--accent) !important;
}

a {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

a:hover {
    color: var(--accent) !important;
}

.footer-link {
    padding-left: 0px;
}

.footer-link:hover {
    padding-left: 4px;
}

/* ! BUTTONS */

.btn-form {
    box-sizing: border-box !important;
    border: 3px solid var(--secondary) !important;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0px solid #00000000 !important;
}

.btn p {
    z-index: 3;
    position: relative;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.btn i {
    z-index: 3;
    position: relative;
}

.btn span {
    z-index: 3;
    position: relative;
}

.btn-form::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 25px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-form:hover::after {
    transform: translate(100%);
    z-index: 2;
}

.btn-form:hover {
    background-color: var(--secondary);
}

.btn-form:disabled {
    background-color: var(--secondary) !important;
    opacity: 1 !important;
}

.btn-form:disabled::after {
    background-color: var(--secondary) !important;
}

.form-check-input:disabled {
    background-color: #fff !important;
    opacity: 1 !important;
}

.form-check-label {
    opacity: 1 !important;
}

.form-check-input:checked {
    background-color: var(--accent) !important;
}

.btn-home {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn-home::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 25px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-home:hover::after {
    transform: translate(100%);
    z-index: 2;
}

.btn-home:hover {
    background-color: var(--secondary) !important;
    color: var(--dark) !important;
}


.btn-banner {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--secondary) !important;
    background-color: var(--primary-light);
    box-sizing: border-box !important;
    border: 3px solid var(--primary-light) !important;
}

.btn-banner::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 25px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-banner:hover::after {
    transform: translate(100%);
    z-index: 2;
}

.btn-banner:hover {
    background-color: var(--primary-light) !important;
    color: var(--dark) !important;
}

.btn-banner:hover p {
    color: var(--dark) !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.btn-delete {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: #000 !important;
    background-color: var(--danger);
}

.btn-delete::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 30px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-delete:hover::after {
    transform: translateX(100%);
    z-index: 2;
}

.btn-delete:hover {
    background-color: var(--danger) !important;
}

.btn-success {
    background-color: var(--success-light) !important;
    border: none !important;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: #000 !important;
}

.btn-success::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 30px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-success:hover::after {
    transform: translateX(100%);
    z-index: 2;
}

.btn-success:hover {
    background-color: var(--success-light) !important;
}

.btn-navbar i {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.btn-navbar:hover i {
    color: var(--accent) !important;
}

.btn-secondary {
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn-secondary:hover {
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn-secondary::after {
    content: "";
    position: absolute;
    background-color: var(--accent) !important;
    width: 100%;
    height: 100%;
    left: -100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 30px;
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.200, 0.000, 0.000, 1.000);
}

.btn-secondary:hover::after {
    transform: translateX(100%);
    z-index: 2;
}


/* ! ALERTS */

.alert-danger {
    background-color: var(--danger) !important;
    border: none !important;
}

.alert-success {
    background-color: var(--success) !important;
    border: none !important;
}

.px-12 {
    padding: 0px 12px !important;
}



/* ! PAGINATION */

.page-link {
    background-color: var(--primary-light) !important;
    color: var(--secondary) !important;
}

.page-link:hover {
    color: var(--accent) !important;
}

.page-link-active {
    background-color: var(--accent) !important;
    color: var(--primary) !important;
}

.page-link-active:hover {
    color: var(--primary) !important;
    border: none !important;
    box-shadow: none !important;

}

.page-item:hover {
    box-shadow: none !important;
    border: none !important;
}

.page-link:focus {
    box-shadow: none !important;
    border: none !important;
}

.card-categories {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card-categories:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 5px var(--secondary);
    z-index: 999;
}

.card-img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card:hover .card-img {
    transform: scale(1.05);
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: none;
    transform: none;
}


.card-scale-btn:hover {
    width: auto;
    max-width: 100%;
    transition: none;
    transform: none;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* ! NAVBAR */

.navbar-toggler:focus {
    box-shadow: none !important;
}

.bi-person-fill {
    font-size: 1.6rem;
}

.notifications {
    width: 8px;
    height: 8px;
    background-color: var(--danger);
    position: absolute;
    top: 1px;
    right: 4px;
    border-radius: 8px;
    border: 2px solid var(--primary-light);
    box-sizing: content-box;
    z-index: 100;
}

.person-icon-correction {
    padding-bottom: 6px !important;
}

.logo {
    height: 40px;
}

.search-bar {
    width: 50%;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.search-bar:focus {
    width: 100%;
}

.offcanvas-body {
    min-height: 100vh;
    background-color: var(--primary-light);
    z-index: 999;
    animation: fadeIn 0.5s ease-out;
}

.nav-bar {
    position: sticky;
    top: 0%;
    z-index: 100;
    padding-bottom: 8px;
    width: 100%;
    transition: 0.3s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.navbar-links {
    position: sticky;
    top: 0%;
}

.nav-hover:hover {
    top: 0%;
}

.lang-menu {
    max-width: 50px !important;
    min-width: 50px !important;
    margin-left: -7px !important;
}

#curLang {
    width: 49px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ! HEADER */

.image-home {
    height: 240px;
    width: 100%;
    background: linear-gradient(#00000000, #00000000), url('/public/media/306-1024x768.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-text {
    color: var(--secondary) !important;
}

.text-shadow {
    text-shadow: 0px 1px 5px #000000;
}

.form-glow {
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.form-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgba(42, 123, 155, 0) 0%, rgba(155, 193, 208, 0) 25%, rgba(255, 255, 255, 1) 50%, rgba(246, 237, 165, 0) 75%, rgba(237, 221, 83, 0) 100%);
    animation: move-right 4s cubic-bezier(0.60, 0, 0.8, 0) infinite;
    z-index: 1;
}

.form-glow::after {
    content: '';
    position: absolute;
    bottom: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, rgba(42, 123, 155, 0) 0%, rgba(155, 193, 208, 0) 25%, rgba(255, 255, 255, 1) 50%, rgba(246, 237, 165, 0) 75%, rgba(237, 221, 83, 0) 100%);
    animation: move-down 4s cubic-bezier(0, 0.7, .7, 1) 3.75s infinite;
    z-index: 1;
}


.form-glow .left-glow {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(42, 123, 155, 0) 0%, rgba(155, 193, 208, 0) 25%, rgba(255, 255, 255, 1) 50%, rgba(246, 237, 165, 0) 75%, rgba(237, 221, 83, 0) 100%);
    animation: move-down 4s cubic-bezier(0.60, 0, 0.8, 0) infinite;
    z-index: 1;
}


.form-glow .bottom-glow {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, rgba(42, 123, 155, 0) 0%, rgba(155, 193, 208, 0) 25%, rgba(255, 255, 255, 1) 50%, rgba(246, 237, 165, 0) 75%, rgba(237, 221, 83, 0) 100%);
    animation: move-right 4s cubic-bezier(0, 0.7, .7, 1) 3.75s infinite;
    z-index: 1;
}

.form-control {
    color: var(--white) !important;
    background-color: var(--primary) !important;
    /* box-shadow: inset 0px 0px 15px 2px var(--secondary) ; */
}

.form-control::placeholder {
    color: var(--secondary) !important;
}

@keyframes move-right {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes move-left {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

@keyframes move-up {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes move-down {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}


/* ! IMAGES */

.article-img {
    height:100%;
    aspect-ratio: 1/1;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card:hover .article-img {
    transform: scale(1.05);
}

::placeholder {
    color: var(--secondary) !important;
}


/* ! CONTAINER SIZING */

.container {
    max-width: 1360px !important;

}

/* effetto navbar  */


.nav-bar {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}


.scrolled {
    background-color: #09001877 !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.scrolled:hover {
    background-color: var(--primary-light) !important;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

body {
    overflow-x: hidden;
}

.hover-move-down {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hover-move-down:hover {
    transform: translateY(30%);
}

.bg-ul-category {
    background-color: var(--primary-light) !important;

}


/* ! TABLE */

.hide {
    display: none !important;
}


/* per cambio della scrollbar */
::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    background: var(--primary-light);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--primary-light);
    box-shadow: 0px 0px 50px 25px var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}


/* ! MEDIA QUERIES */


@media (max-width: 576px) {
    footer .form-control {
        margin-bottom: 10px;
    }

    footer button.btn-form {
        padding: 10px 0;
    }

    footer p {
        font-size: 0.95rem;
    }

    .footer-icon {
        flex: 1 1 auto;
        min-width: 40px;
    }
}

@media (min-width:768px) {
    .image-home {
        height: 540px;
    }

    .logo {
        height: 50px;
    }

    .hide {
        display: table-cell !important;
    }
    
    .nav-hover {
    top:-8%;
    }
}

.img-preview {
    width: 150px;
    height: 150px;
    background: center center no-repeat;
}

.img-preview {
    width: 150px;
    height: 150px;
    background: center center no-repeat;
}
