/* ! COLORS */

:root{
    --primary: rgb(9, 0, 24);
    --primary-light: #2b2337;
    --secondary: rgb(226, 212, 249);
    --accent: rgb(223, 173, 36);
    --danger: #dd586a;
}

.primary-text{
    color: var(--primary) !important;
}

.primary-bg{
    background-color: var(--primary) !important;
}

.primary-border{
    border-color: var(--primary) !important;
}

.primary-light-text{
    color: var(--primary-light) !important;
}

.primary-light-bg{
    background-color: var(--primary-light) !important;
}

.primary-light-border{
    border-color: var(--primary-light) !important;
}

.secondary-text{
    color: var(--secondary) !important;
}

.secondary-bg{
    background-color: var(--secondary) !important;
}

.secondary-border{
    border-color: var(--secondary) !important;
}

.accent-text{
    color: var(--accent) !important;
}

.accent-bg{
    background-color: var(--accent) !important;
}

.accent-border{
    border-color: var(--accent) !important;
}

.white-text{
    color: #fff !important;
}

.white-bg{
    background-color: #fff !important;
}

.white-border{
    border-color: #fff !important;
}

.danger-text{
    color: var(--danger) !important;
}

.danger-bg{
    background-color: var(--danger) !important;
}

.danger-border{
    border-color: var(--danger) !important;
}


/* ! FONTS */

* {
    color: white !important;
}

input {
    color: #222!important;
    border: none !important;
}

input:focus {
    box-shadow: 0px 0px 0px 3px var(--accent) !important;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--secondary) !important;
}


/* ! FOOTER */

.footer-icon {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.footer-icon i {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.footer-icon:hover {
    transform: scale(1.2) translateY(-6%);
}

.footer-icon:hover i {
    color: var(--accent) !important;
    /* text-shadow: 0px 0px 5px var(--secondary); */
}

a {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

a:hover {
    color: var(--accent) !important;
}

.btn-form {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn-form:hover {
    background-color: var(--accent) !important;

}
.navbar-toggler-icon {
   filter: invert(1);
}

.btn-delete {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--primary) !important;
    background-color: var(--danger);
}

.btn-delete:hover {
    background-color: var(--accent) !important;

}

