/* ! COLORS */

:root{
    --primary: rgb(9, 0, 24);
    --primary-light: #2b2337;
    --secondary: rgb(226, 212, 249);
    --accent: rgb(223, 173, 36);
    --danger: hsl(352, 62%, 53%);
    --success: hsl(165, 60%, 35%);
    --success-light: hsl(165, 60%, 42%);
}

.primary-text{
    color: var(--primary) !important;
}

.primary-bg{
    background-color: var(--primary) !important;
}

.primary-border{
    border-color: var(--primary) !important;
}

.primary-light-text{
    color: var(--primary-light) !important;
}

.primary-light-bg{
    background-color: var(--primary-light) !important;
}

.primary-light-border{
    border-color: var(--primary-light) !important;
}

.secondary-text{
    color: var(--secondary) !important;
}

.secondary-bg{
    background-color: var(--secondary) !important;
}

.secondary-border{
    border-color: var(--secondary) !important;
}

.accent-text{
    color: var(--accent) !important;
}

.accent-bg{
    background-color: var(--accent) !important;
}

.accent-border{
    border-color: var(--accent) !important;
}

.white-text{
    color: #fff !important;
}

.white-bg{
    background-color: #fff !important;
}

.white-border{
    border-color: #fff !important;
}

.danger-text{
    color: var(--danger) !important;
}

.danger-bg{
    background-color: var(--danger) !important;
}

.danger-border{
    border-color: var(--danger) !important;
}

.success-text{
    color: var(--success) !important;
}

.success-bg{
    background-color: var(--success) !important;
}

.success-border{
    border-color: var(--success) !important;
}


/* ! FONTS */

* {
    color: white !important;
}

input {
    color: #222!important;
    border: none !important;
}

input:focus {
    box-shadow: 0px 0px 0px 3px var(--accent) !important;
}

textarea {
    color: #222!important;
    border: none !important;
}

textarea:focus {
    box-shadow: 0px 0px 0px 3px var(--accent) !important;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--secondary) !important;
}


/* ! FOOTER */

.footer-icon {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.footer-icon i {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.footer-icon:hover {
    transform: scale(1.2) translateY(-6%);
}

.footer-icon:hover i {
    color: var(--accent) !important;
    /* text-shadow: 0px 0px 5px var(--secondary); */
}

a {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

a:hover {
    color: var(--accent) !important;
}


/* ! BUTTONS */

.btn-form {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--primary) !important;
    background-color: var(--secondary);
}

.btn-form:hover {
    background-color: var(--accent) !important;
    color: var(--primary) !important;
}
.navbar-toggler-icon {
   filter: invert(1);
}

.btn-delete {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
    color: var(--white) !important;
    background-color: var(--danger);
}

.btn-delete:hover {
    background-color: #ff2441 !important;
    
    color: var(--white) !important;
}

.btn-success {
    background-color: var(--success) !important;
    border: none !important;
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.btn-success:hover {
    background-color: var(--success-light) !important;
    color: #fff !important;
}

.btn-navbar {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.btn-navbar:hover {
    color: var(--accent) !important;
}


/* ! ALERTS */

.alert-danger {
    background-color: var(--danger) !important;
    border: none !important;
}

.alert-success {
    background-color: var(--success) !important;
    border: none !important;
}



/* ! PAGINATION */

.page-link {
    background-color: var(--primary-light) !important;
    color: var(--secondary) !important;
}

.page-link:hover {
    color:var(--accent) !important;
}

.page-link-active {
    background-color: var(--accent) !important;
    color:var(--primary) !important;
}

.page-link-active:hover {
    color: var(--primary) !important;
    border: none !important;
    box-shadow: none !important;

}

.page-item:hover {
    box-shadow: none !important;
    border: none !important;
}

.page-link:focus {
    box-shadow: none !important;
    border: none !important;
}

.card-categories{
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card-categories:hover{
    transform: scale(1.05);
     box-shadow: 0px 0px 25px 5px var(--secondary);
     z-index: 999;
}

.card-img {
    max-width: 100vw; 
    max-height: 100vh; 
    object-fit: contain; 
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card:hover .card-img {
    transform: scale(1.05); 
    object-fit: cover; 
    width: 100%; 
    height: auto; 
    transition: none; 
    transform: none; 
}


.card-scale-btn:hover{
    width: auto; 
    max-width: 100%; 
    transition: none; 
    transform: none; 
}
@media (max-width: 576px) {
    footer .form-control {
      margin-bottom: 10px;
    }

    footer button.btn-form {
      padding: 10px 0;
    }

    footer p {
      font-size: 0.95rem;
    }
    .footer-icon {
    flex: 1 1 auto; 
    min-width: 40px; 
  }
  }


  /* ! NAVBAR */ 
.navbar-nav .nav-link {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}
.navbar-nav .nav-link:hover {
  color: #0d6efd;
  transform: translateX(4px);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


.offcanvas-body {
  animation: fadeIn 0.4s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


form[role="search"] input {
  
    transition: box-shadow 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}



.image-home{
    height: 25vh;
    width: 100%;
    background:linear-gradient(rgba(11, 0, 28, 0.5), rgba(11, 0, 28, 0.5)),url(https://picsum.photos/500/300);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.form-glow {
  position: relative;
  overflow: hidden;
  z-index: 0;
}


.form-glow::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, transparent, white, transparent);
  box-shadow: 0px 0px 15px var(--secondary);
  animation: move-right 1s ease-in 1s infinite;
  z-index: 1;
}

.form-glow::after {
  content: '';
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to top, transparent, white, transparent);
    box-shadow: 0px 0px 15px var(--secondary);

  animation: move-up 1s ease-in 1s infinite;
  z-index: 1;
}


.form-glow .left-glow {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white, transparent);
    box-shadow: 0px 0px 15px var(--secondary);

  animation: move-down 1s ease-in 1s infinite;
  z-index: 1;
}


.form-glow .bottom-glow {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, transparent, white, transparent);
    box-shadow: 0px 0px 15px var(--secondary);

  animation: move-left 1s ease-in 1s infinite;
  z-index: 1;
}

@keyframes move-right {
  0% { left: -100%; }
  100% { left: 100%; }
}

@keyframes move-left {
  0% { right: -100%; }
  100% { right: 100%; }
}

@keyframes move-up {
  0% { bottom: -100%; }
  100% { bottom: 100%; }
}

@keyframes move-down {
  0% { top: -100%; }
  100% { top: 100%; }
}


/* ! IMAGES */

.article-img {
    transition: 0.2s cubic-bezier(0.285, 0.245, 0.500, 1.000);
}

.card:hover .article-img {
    transform: scale(1.1);
}

::placeholder {
    color: var(--secondary) !important;
}


/* ! CONTAINER SIZING */

.container {
    max-width: 1360px !important;
}